.l--constrained {
  padding-left: em($w-gutter-half);
  padding-right: em($w-gutter-half);

  @include breakpoint($bp-full) {
    margin-left: auto;
    margin-right: auto;
    width: em($w-full);
  }
}
