[id="about"] {
  background-color: #f2f2f2;
}

.about--intro {
  margin-bottom: em(40px);;
}

.about-card {
  border: 1px solid #000;
  margin-bottom: em(20px);
  padding: 0 0 em(20px);
  position: relative;

  > figure {
    margin: -1px -1px em(26px);
    position: relative;
  }

  @include breakpoint($bp-large) {
    @include grid-span(4, 1);
  }
}

.about-card--title {
  @include adjust-font-size-to($fs-m);
  margin-bottom: em(12px);
  padding-bottom: em(14px);
  position: relative;
  text-align: center;

  // Divider
  &:before {
    background-color: $blue-grey;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    margin-left: em(-39px);
    position: absolute;
    width: em(78px);
  }
}

.about-card--role {
  color: $blue-grey;
  font-style: italic;
  text-align: center;
}
