footer[role="contentinfo"] {
  background-color: #f4f4f4;
  padding: em(140px) 0 em(30px);

  @include breakpoint(max-width $bp-large - 1px) {
    background-image: url(../images/bgs/site-footer-laptop.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  @include breakpoint($bp-large) {
    background-image: url(../images/bgs/site-footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.footer-credits {
  margin: em(44px) 0 em(24px);
  padding: 0;
  text-align: center;

  > li {
    list-style: none;
  }

  li, li a {
    color: $pink;
  }

  li a {
    text-decoration: none;
  }

  @include breakpoint($bp-large) {
    > li {
      display: inline-block;
      margin: 0 em(30px);
    }
  }
}
