.site-header {
  h1 {
    margin: 0;
    padding: em($w-gutter-half);
    text-align: center;
  }

  @include breakpoint($bp-medium) {
    background-image: url(../images/bgs/site-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 55px);

    h1 {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
