.section-lede {
  @include adjust-font-size-to($fs-l);
  margin: 0;
  text-align: center;

  > strong {
    font-size: em(30px, $fs-l);
    font-family: $ff-heading-alt;
    font-weight: normal;
  }
}
