.social-menu {
  text-align: center;

  a {
    color: $blue-grey;
    font-family: $ff-serif;
    padding: 0 em(12px);
    text-decoration: none;
  }

  @include breakpoint(max-width $bp-medium - 1px) {
    > li {
      float: left;
      width: 50%;
    }
  }

  @include breakpoint($bp-medium) {
    > li {
      display: inline-block;
    }
  }
}
