<section id="about" class="homepage-section clearfix">
  <header class="l--constrained">
    <h2 class="section-lede">My glass? It's half full.<br><strong>And I believe in free refills.</strong></h2>
  </header>

  <div class="about--intro l--constrained">
    <p>Above all, I am a creative thinker with a huge imagination. I have an eye for composition and a healthy obsession with color and typography. I am known for my playful, upbeat and modern sense of style. I aspire to constantly surround myself with inspiration and explore my creativity.</p>
  </div>

  <div class="l--constrained clearfix">
    <div class="about-card">
      <figure>
        <img src="/images/card-thumbnail/sample.jpeg">
      </figure>

      <h3 class="about-card--title">Jennifer Falconburg</h3>

      <div class="about-card--role">Graphic Designer</div>
    </div>

    <ul class="factoids">
      <li class="factoids--mountain">Above all, I am a creative thinker with a huge imagination. I  with inspiration and explore my creativity. </li>
      <li class="factoids--cat">Above all, I am a creative thinker with a huge imagination. I  with inspiration and explore my creativity. </li>
      <li class="factoids--bowl">Above all, I am a creative thinker with a huge imagination. I  with inspiration and explore my creativity. </li>
      <li class="factoids--dalek">Above all, I am a creative thinker with a huge imagination. I  with inspiration and explore my creativity. </li>
      <li class="factoids--star">Above all, I am a creative thinker with a huge imagination. I  with inspiration and explore my creativity. </li>
    </ul>
  </div>
</section>
