<section class="homepage-section projects clearfix">
  <header class="l--constrained">
    <h2 class="section-lede">Design is not just what it looks like and feels like.<br><strong>Design is how it works.</strong></h2>
  </header>

  <ul id="skills" class="l--constrained skills clearfix">
    {% for skill in site.data.skills %}
    <li class="skills--{{ skill.name | slugify }}">{{ skill.name }}</li>
    {% endfor %}
  </ul>

  <div id="work" class="l--constrained clearfix">
    {% for project in site.projects %}
    {% include project--card.html %}
    {% endfor %}
  </div>

  <div id="project-full" class="l--constrained clearfix">
    <article class="project--full clearfix">
      <h2 class="project--title__full">Project Title</h2>

      <ul class="project--gallery">
        <li>
          <figure>
            <img src="//lorempixel.com/920/600">

            <figcaption>
              <a href="http://www.google.com">Link</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="//lorempixel.com/920/600">
          </figure>
        </li>
        <li>
          <figure>
            <img src="//lorempixel.com/920/600">
          </figure>
        </li>
      </ul>
    </article>
  </div>
</section>
